{%- capture page_content -%}
    {% if current_page == 'edit' -%}
        {% include path_include_edit -%}
    {% elsif current_id == '0' -%}
        {% assign current_page = current_page | plus: 0 -%}
        {% include path_include -%}
    {% else -%}
        {% include path_include_detail -%}
    {% endif -%}
{% endcapture -%}
<div class="off-canvas-content" data-off-canvas-content>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <button type="button" class="left-menu-toggle button show-for-small-only" data-toggle="offCanvasLeft"><i class="fas fa-angle-double-right"></i> Menu</button>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <h1>{{page_title}}</h1>
                {% if current_directory -%}
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="{{path_start}}">{{site.landing-name}}</a></li>
                        {% if params.slugs and current_id != '0' -%}
                            <li><a href="/{{params.slug}}/{{params.slug2}}/{{current_directory}}">{{params.slug3}}</a></li>
                            <li><span class="show-for-sr">Current:</span> #{{current_id}}</li>
                        {% else -%}
                            <li><span class="show-for-sr">Current:</span> {{page_title}}</li>
                        {% endif -%}
                    </ul>
                </nav>
                {% endif %}
                <hr>
            </div>
        </div>
        {{page_content | html_safe}}
    </div>
</div>